<header ng-include="'js/app/header.html'"></header>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Nuevo usuario</h1>

            </div>
            <div class="form-responsive container" >
                <h3 ng-show="btnNew">Datos del nuevo usuario</h3>

                <form name="userForm" ng-show="btnNew">
                    <div class="form-group" ng-class="{ 'has-error' : userForm.dni.$invalid && !userForm.dni.$pristine }">
                        <label>DNI</label>
                        <input type="text" class="form-control" id="dni" name="dni" ng-model="dni" ng-required="true" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/"
                               />
                        <div ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                            Formato dni no valido
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" ng-model="nombre" ng-required="true" />
                        <div ng-show="!userForm.nombre.$valid" class="alert alert-danger" role="alert">
                            Nombre obligatorio
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Primer apellido</label>
                        <input type="text" class="form-control" id="ape1" name="ape1" ng-model="ape1" ng-required="true" />
                        <div ng-show="!userForm.ape1.$valid" class="alert alert-danger" role="alert">
                            Primer apellido obligatorio
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Segundo apellido</label>
                        <input type="text" class="form-control" id="ape2" name="ape2" ng-model="ape2" ng-required="true" />
                        <div ng-show="!userForm.ape2.$valid" class="alert alert-danger" role="alert">
                            Segundo apellido obligatorio
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Login</label>
                        <input type="text" class="form-control" id="login" name="login" ng-model="login" ng-required="true" />
                        <div ng-show="!userForm.login.$valid" class="alert alert-danger" role="alert">
                            Login obligatorio
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-class="{' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}"
                               id="pass" name="pass" ng-model="pass" ng-minlength="6" ng-required="true"/>
                        <div ng-show="userForm.pass.$error.minlength" class="alert alert-danger" role="alert">
                            La longitud de la constraseña es demasiado corta
                        </div>
                        <div ng-show="!userForm.pass.$valid" class="alert alert-danger" role="alert">
                            Contraseña obligatoria
                        </div>
                    </div>
<!--                    <div class="form-group">
                        <label>Tipo usuario</label>
                        <input type="text" class="form-control" id="obj_tipoUsuario_desc" name="obj_tipoUsuario_desc" ng-disabled="true" ng-model="obj_tipoUsuario_desc"
                               />
                    </div>-->
                    <button ng-show="!idError && btnNew" type="button" class="btn btn-light" ng-click="nuevo()" ng-disabled="userForm.$invalid">Confirmar nuevo usuario</button>
                </form>
                <h3 ng-show="idError">Ha habido un error. vuelva a intentarlo</h3>
                <h3>{{resultado}}</h3>
                <button type="button" class="btn btn-light" ng-click="goBack()">Volver</button>

            </div>
        </main>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>